<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <div class="container-fluid">
      <% include pageHeader %>
 
      <main role="main" class="container">

        <div class="home-page">
          <h1>I want to kms.</h1>
          <p class="lead">This will be the home page for the chat app.</p>
        </div>
    </div>

    </main>
  </body>
  <% include footer %>
</html>
