<style>
.home-page {
  padding: 3rem 1.5rem;
  text-align: center;
}
</style>

<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body>
    <% include pageHeader %>
 
    <main role="main" class="container">
      <div class="home-page">
        <h1>Welcome</h1>
        <p class="lead">This will be the home page for the chat app.</p>
      </div>
    </main>

  </body>
  <% include footer %>
</html>
