<!DOCTYPE html>
<style>
body {
  padding-top: 5rem;
}
.home-page {
  padding: 3rem 1.5rem;
  text-align: center;
}
</style>

<html>
  <head>
    <% include head %>
  </head>
  <body data-target=".navbar">
    <% include pageHeader %>
 
    <main role="main" class="container">
      <div class="home-page">
        <h1>Welcome</h1>
        <p class="lead">This is the home page for the chat app.</p>
      </div>
    </main>

  </body>
  <% include footer %>
</html>
